@import "minireset.css";

* {
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  text-decoration: inherit;
}

html,
body,
#root,
#root > * {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  background: #ddd;
}

input {
  border: 1px solid #bbb;
  padding: 8px;
}

a.active,
a:hover {
  font-weight: bold;
}
